* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
}

b, h2, h3 {
  color: black;
}

::selection {
  color: white;
  background-color: rgb(0, 12, 119);
}

p {
  font-size: 1.3rem;
  width: 70%;
  line-height: 1.6;
  margin: 0 auto;
  padding: 1rem;
  text-align: justify;
}

.section {
  margin: 100px auto;
}

.section-title, h3 {
  font-weight: 400;
  font-size: 2rem;
}

b {
  font-weight: 500;
}