@media (max-width: 1023px) {
  header {
    position: fixed;
    border-bottom: solid 1px #aaa;
    filter: drop-shadow(0 0 5px gray);
    z-index: 100;
  }

  .header-content a {
    color: rgb(20, 113, 194);
  }

  .page-img {
    margin-top: 70px;
  }

  .image-header {
    font-size: 3rem;
    top: 440px;
  }

  p {
    font-size: 1rem;
    width: 80%;
  }

  .button,
  .button a {
    background-color: rgb(20, 113, 194);
    color: white;
    border: 1px solid rgb(20, 113, 194);
    transition: none;
  }

  .button:hover,
  .button a:hover {
    transform: none;
  }

}

@media (max-width: 767px) {
  .header-content a {
    font-size: 0.75rem;
  }
  
  p {
    font-size: 0.8rem;
    line-height: 30px;
  }

  .image-header {
    font-size: 2rem;
    top: 473px;
    left: 30px;
  }

}